{
  "openapi": "3.0.0",
  "info": {
    "title": "Canvas",
    "description": "The Canvas API extends [Canvas](https://support.zoom.com/hc/en/article?id=zm_kb&sysparm_article=KB0076439&_ics=1785788807006&irclickid=~cjqh-ea505~120WYWXNVLCDIysqrvlc748067XYWLKBqnic942ZP&_gl=1*1qhaied*_gcl_au*NTExMTA1MTU0LjE3ODQ2NDMwMDg.*_ga*MTExMjY2NjcuMTc4NDY0MzAxMw..*_ga_L8TBF28DDX*czE3ODU3ODM2MTIkbzgkZzEkdDE3ODU3ODU4MzckajUyJGwwJGgw) capabilities, enabling developers to integrate document management and collaboration into their applications. The API is organized into these areas: Document management, Document content, Data tables, Document metadata and access.",
    "termsOfService": "https://zoom.us/docs/en-us/zoom_api_license_and_tou.html",
    "contact": {
      "name": "Zoom Developers",
      "url": "https://developer.zoom.us/"
    },
    "version": "2"
  },
  "externalDocs": {
    "description": "Find out more about Swagger",
    "url": "https://swagger.io"
  },
  "servers": [
    {
      "url": "https://api.zoom.us/v2"
    }
  ],
  "paths": {
    "/docs/archive_attachments": {
      "get": {
        "tags": ["Archiving"],
        "summary": "Download archive attachments",
        "description": "Batch retrieve download URLs for attachments in archived files.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_archiving:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:archive:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "BatchGetArchiveAttachmentDownloadUrl",
        "parameters": [
          {
            "name": "attachment_ids",
            "in": "query",
            "description": "A comma-separated list of attachment IDs to retrieve download URLs for. \n\nMust contain between 1 and 20 IDs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "GAM2plItRTCNxb8EYIn28Q,QISQ2bgbSpmjiFFee4XExB"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a list of attachments with their download URLs or failure reasons.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attachments": {
                      "type": "array",
                      "description": "List of attachments with their download URLs or failure reasons.",
                      "items": {
                        "required": ["attachment_id"],
                        "type": "object",
                        "properties": {
                          "attachment_id": {
                            "type": "string",
                            "description": "The attachment ID.",
                            "example": "QISQ2bgbSpmjiFFee4XExB"
                          },
                          "download_url": {
                            "type": "string",
                            "description": "The signed download URL for the attachment, valid for 1 hour. \n\nEmpty if the download URL could not be retrieved.",
                            "example": "https://example.com/download/document.pdf"
                          },
                          "failed_reason": {
                            "type": "string",
                            "description": "The reason for failure if the download URL could not be retrieved. \n\nEmpty if the download URL was successfully retrieved.",
                            "example": "The resource does not exist."
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid parameters. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs_archiving:read:admin", "docs:read:archive:admin"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsContent:Read", "NotesContent:Read", "SmartMeetingSummaryMgt:Read"],
          "x-macro-scopes": ["docs_archiving:read:admin"],
          "x-granular-scopes": ["docs:read:archive:admin"]
        }
      }
    },
    "/docs/archives": {
      "get": {
        "tags": ["Archiving"],
        "summary": "List doc archive data",
        "description": "List archived documents for a given account within a specified time range. \n\nEach archive record includes a `download_url` for downloading the complete archived content as a **JSON** file. \n\nSee the `download_url` field description for the full JSON schema definition.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_archiving:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:archive:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "Listdocarchive",
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "description": "The start of the query time range in RFC 3339 format. \n\nOnly archive records with `archive_time` later than or equal to `from` will be returned.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-02-13T00:00:00Z"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "The end of the query time range in RFC 3339 format.\n\nOnly archive records with `archive_time` earlier than `to` will be returned. \n\nThe value must not be later than the current time; otherwise, a `400` error will be returned.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date-time",
              "example": "2026-03-14T00:00:00Z"
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of records returned per page in a single API call.",
            "required": false,
            "schema": {
              "maximum": 100,
              "type": "integer",
              "format": "int32",
              "example": 20,
              "default": 20
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
            }
          },
          {
            "name": "products",
            "in": "query",
            "description": "Specify the type of archived data to retrieve. \n\nAllowed values: \n- `docs` \n- `my_notes` \n- `meeting_summary`. \n\nTo specify multiple values, concatenate them with commas `,`.\n\nIf this field is omitted or the string is empty, the API returns archived data for all products that the current token has permission to access. For example, if the token only has `DocsContent:Read` permission, only Docs archived data will be returned.\n\nIf specific products are provided, the API returns only the specified types. However, the token must have the corresponding permission for each requested product; otherwise, a `403 Forbidden` error will be returned.\n\nIf the token has no archive-related permissions at all, a `403 Forbidden` error will be returned regardless of this field's value.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "docs,my_notes,meeting_summary"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The returned archived files list.",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["from", "next_page_token", "page_size", "to", "total_records"],
                  "type": "object",
                  "properties": {
                    "from": {
                      "type": "string",
                      "description": "The queried start date.",
                      "format": "date-time",
                      "example": "2026-02-13T00:00:00Z"
                    },
                    "to": {
                      "type": "string",
                      "description": "The queried end date.",
                      "format": "date-time",
                      "example": "2026-03-14T00:00:00Z"
                    },
                    "page_size": {
                      "type": "integer",
                      "description": "The number of records returned per page in a single API call.",
                      "format": "int32",
                      "example": 20
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "The next page token paginates through a large set of results. A next page token is returned whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "IAfJX3jsOLW7w3dokmFl84zOa0MAVGyMEB2"
                    },
                    "total_records": {
                      "type": "integer",
                      "description": "The total number of returned sessions records.",
                      "example": 30
                    },
                    "data": {
                      "type": "array",
                      "description": "List of archive detail records under this account.",
                      "items": {
                        "required": [
                          "archive_time",
                          "download_url",
                          "file_id",
                          "product",
                          "trigger_type",
                          "version"
                        ],
                        "type": "object",
                        "properties": {
                          "file_id": {
                            "type": "string",
                            "description": "Unique identifier of the archived file.",
                            "example": "hCSzn_k9SGGXTwjujsF73w"
                          },
                          "version": {
                            "type": "integer",
                            "description": "Archive version number that increments starting from 1.",
                            "format": "uint32",
                            "example": 1
                          },
                          "product": {
                            "type": "string",
                            "description": "Product type of the archived document.",
                            "example": "docs",
                            "enum": ["docs", "my_notes", "meeting_summary"]
                          },
                          "trigger_type": {
                            "type": "string",
                            "description": "Type of event that triggered this archive.",
                            "example": "doc_edit",
                            "enum": [
                              "doc_create",
                              "doc_edit",
                              "doc_view",
                              "comment_change",
                              "transcript_change"
                            ]
                          },
                          "archive_time": {
                            "type": "string",
                            "description": "The time when this archive was created, in RFC 3339 format.",
                            "format": "date-time",
                            "example": "2023-07-27T17:36:34Z"
                          },
                          "download_url": {
                            "type": "string",
                            "description": "The download URL contains the complete archived content of this version and is valid for 1 hour. \n\nPlease access and download it within the validity period. \n\nThe downloaded content is a **JSON** object which contains the following structure:\n\n**Archive Download Content Schema**\n\nThe JSON schema definition for the content downloaded from the `download_url` returned in archive records.\n\nEach archive is a complete point-in-time snapshot of a Zoom document, including its Markdown content, comments, reactions, user information, file metadata, and attachment references. The file is served as `application/json` and the download URL is valid for 1 hour.\n\n## Top-Level Fields\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `file_id` | string | Yes | Unique identifier of the archived document |\n| `version` | integer | Yes | Archive version number (monotonically increasing per file) |\n| `product` | string | Yes | Product type of the archived document. Values: `docs`, `my_notes`, `meeting_summary` |\n| `trigger_type` | string | Yes | Event that triggered this archive. Values: `doc_edit`, `doc_create`, `doc_view`, `comment_change`, `transcript_change` |\n| `is_manual_notes` | boolean | No | Whether the MyNotes content in this version was manually entered (vs. AI-enhanced). `false` indicates the content was processed with AI enhancement. Applicable only to the `my_notes` product |\n| `transcript` | object | No | Meeting transcript snapshot. Present only for `my_notes` product when transcript data is available. Structure defined in **Transcript** below |\n| `archive_time` | string | Yes | Document archived time in RFC 3339 format |\n| `file_metadata` | object | No | Document metadata snapshot at archive time. Structure defined in **FileMetadata** below |\n| `page_cover` | string | No | Page cover image URL |\n| `page_icon` | string | No | Page icon (emoji or URL) |\n| `operator` | object | No | User who triggered this archive event. Structure defined in **UserInfo** below |\n| `markdown` | string | Yes | Full document content exported as Markdown |\n| `threads` | array | No | Comment threads on the document. Each element follows the **Thread** structure below |\n| `page_reactions` | array | No | Page-level reactions (e.g., emoji reactions on the document). Each element follows the **PageReaction** structure below |\n| `users` | object | No | Map of `user_id` → user info for all users referenced in this archive. Each value follows the **UserInfo** structure below |\n| `attachments` | array | No | Document-level attachment metadata. Each element follows the **Attachment** structure below |\n\n## Nested Object Definitions\n\n### Transcript\n\nMeeting transcript snapshot for a MyNotes document. Contains the transcribed conversation items and the speaker roster.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `items` | array | No | Transcribed conversation items in chronological order. Each element follows the **TranscriptItem** structure below |\n| `speakers` | array | No | Speaker roster referenced by the transcript items. Each element follows the **TranscriptSpeaker** structure below |\n\n### TranscriptItem\n\nA single transcribed utterance within the transcript.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `text` | string | Yes | Transcribed text of this utterance |\n| `start_time` | string | Yes | Start time offset of this utterance within the meeting (e.g., `00:00:05`) |\n| `end_time` | string | Yes | End time offset of this utterance within the meeting (e.g., `00:00:09`) |\n| `user_id` | integer | No | Numeric speaker identifier, cross-referencing `user_id` in **TranscriptSpeaker** |\n| `highlight_flag` | integer | No | Whether this utterance is highlighted. `0` = normal, `1` = highlighted |\n\n### TranscriptSpeaker\n\nIdentity of a participant referenced by the transcript items.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `user_id` | integer | No | Numeric speaker identifier referenced by **TranscriptItem** `user_id` |\n| `zoom_user_id` | string | No | Zoom user identifier of the speaker |\n| `username` | string | No | Account username of the speaker |\n| `speaker_id` | string | No | Speaker identifier assigned within the meeting |\n| `speaker_name` | string | No | Display name of the speaker as shown in the transcript |\n| `speaker_zoom_user_id` | string | No | Zoom user identifier associated with the speaker entry |\n| `is_unknown` | boolean | No | Whether the speaker could not be identified |\n\n### FileMetadata\n\nSnapshot of document properties at the time of archiving.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `title` | string | Yes | Document title |\n| `owner_id` | string | Yes | User ID of the document owner |\n| `owner_name` | string | Yes | Display name of the document owner |\n| `owner_email` | string | No | Email address of the document owner |\n| `create_time` | string | Yes | Document creation time in RFC 3339 format |\n| `last_edit_time` | string | Yes | Last edit time in RFC 3339 format |\n| `is_deleted` | boolean | Yes | Whether the document was deleted at archive time |\n| `delete_time` | string | No | Deletion time in RFC 3339 format. Present only if `is_deleted` is true |\n\n### UserInfo\n\nUser identity information. Used in `operator` field and `users` map.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `user_id` | string | Yes | Unique user identifier |\n| `display_name` | string | Yes | User's display name |\n| `email` | string | No | User's email address |\n\n### Thread\n\nA comment thread attached to a specific location in the document.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `thread_id` | string | Yes | Unique thread identifier |\n| `root_block_id` | string | Yes | Block ID where the thread is anchored |\n| `block_ids` | array of string | No | Additional block IDs related to the thread |\n| `selected_content` | string | No | The selected text that the comment is attached to |\n| `comment_type_name` | string | Yes | Comment type. Accepted values: `block`, `page` ,`discussion`, `suggestion` |\n| `thread_status` | string | Yes | Thread status. Values: `open`, `resolved` |\n| `comment_count` | integer | Yes | Number of comments in this thread |\n| `created_by` | string | Yes | User ID who created the thread |\n| `updated_by` | string | No | User ID who last updated the thread |\n| `create_time` | string | Yes | Thread creation time in RFC 3339 format |\n| `modify_time` | string | Yes | Last modification time in RFC 3339 format |\n| `resolve_time` | string | No | Time when the thread was resolved in RFC 3339 format |\n| `latest_comment_create_time` | string | Yes | Creation time of the most recent comment in RFC 3339 format |\n| `comments` | array | No | List of comments in this thread. Each element follows the **Comment** structure below |\n| `is_deleted` | boolean | No | Whether the thread has been deleted |\n| `delete_time` | string | No | Deletion time in RFC 3339 format |\n\n### Comment\n\nAn individual comment within a thread.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `comment_id` | string | Yes | Unique comment identifier |\n| `thread_id` | string | Yes | Parent thread identifier |\n| `root_block_id` | string | Yes | Block ID where the comment is anchored |\n| `parent_id` | string | No | Parent comment ID (for nested replies) |\n| `content_plain_text` | string | Yes | Plain text content of the comment |\n| `attachments` | array | No | Attachments on this comment. Each element follows the **Attachment** structure below |\n| `created_by` | string | Yes | User ID who created the comment |\n| `updated_by` | string | No | User ID who last edited the comment |\n| `is_edited` | boolean | Yes | Whether the comment has been edited |\n| `create_time` | string | Yes | Comment creation time in RFC 3339 format |\n| `modify_time` | string | Yes | Last modification time in RFC 3339 format |\n| `reactions` | array | No | Reactions on this comment. Each element follows the **Reaction** structure below |\n| `is_deleted` | boolean | No | Whether the comment has been deleted |\n| `delete_time` | string | No | Deletion time in RFC 3339 format |\n\n### Reaction\n\nAn emoji reaction on a comment.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `reaction_id` | string | Yes | Unique reaction identifier |\n| `comment_id` | string | Yes | Comment this reaction belongs to |\n| `reaction` | string | Yes | Emoji value|\n| `created_by` | string | Yes | User ID who added the reaction |\n| `create_time` | string | Yes | Reaction creation time in RFC 3339 format |\n\n### PageReaction\n\nAn emoji reaction on the document itself.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `reaction_id` | string | Yes | Unique reaction identifier |\n| `reaction` | string | Yes | Emoji value|\n| `reaction_type` | integer | Yes | Reaction type. `1` = block-level reaction, `2` = page-level reaction |\n| `created_by` | string | Yes | User ID who added the reaction |\n| `create_time` | string | Yes | Reaction creation time in RFC 3339 format |\n\n### Attachment\n\nBasic metadata for a file attachment embedded in the document or comment. \n\nTo download the actual attachment file, use the `Download Archive Attachments` OpenAPI with the `attachment_id`.\n\n| Field | Type | Required | Description |\n|-------|------|----------|-------------|\n| `attachment_id` | string | Yes | Unique attachment identifier.  |\n| `name` | string | Yes | Attachment name |\n| `type` | string | Yes | MIME type (e.g., `image/png`, `application/pdf`) |\n| `size` | integer | Yes | File size in bytes |\n\n## JSON Example\n\n```json\n{\n  \"file_id\": \"zD83pVKRS2WrCBFHsfPMng\",\n  \"version\": 3,\n  \"product\": \"docs\",\n  \"trigger_type\": \"comment_change\",\n  \"archive_time\": \"2026-04-09T08:34:23Z\",\n  \"file_metadata\": {\n    \"title\": \"Q1 Project Plan\",\n    \"owner_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n    \"owner_name\": \"Alice Johnson\",\n    \"owner_email\": \"alice.johnson@example.com\",\n    \"create_time\": \"2026-01-15T09:00:00Z\",\n    \"last_edit_time\": \"2026-04-09T08:30:00Z\",\n    \"is_deleted\": false\n  },\n  \"page_cover\": \"https://example.com/covers/q1-plan.png\",\n  \"page_icon\": \"📋\",\n  \"operator\": {\n    \"user_id\": \"KxR4mWVeQdGt7Lp1Nf_08w\",\n    \"display_name\": \"Bob Smith\",\n    \"email\": \"bob.smith@example.com\"\n  },\n  \"markdown\": \"# Q1 Project Plan\\n\\n## Goals\\n\\n- Launch feature A\\n- Complete migration B\\n\\n## Timeline\\n\\n| Phase | Date |\\n|-------|------|\\n| Design | Jan 15 |\\n| Dev | Feb 1 |\\n| QA | Feb 20 |\\n\",\n  \"threads\": [\n    {\n      \"thread_id\": \"a084b2c7874c42ce9fe5b976160a332d\",\n      \"root_block_id\": \"5a10e3c540dc4914ae7c846fa497f183\",\n      \"block_ids\": [\"5a10e3c540dc4914ae7c846fa497f183\"],\n      \"selected_content\": \"Launch feature A\",\n      \"comment_type_name\": \"block\",\n      \"thread_status\": \"open\",\n      \"comment_count\": 2,\n      \"created_by\": \"Hj2sNkLdS5qPwU8rY_v7Xg\",\n      \"create_time\": \"2026-04-01T10:00:00Z\",\n      \"modify_time\": \"2026-04-08T14:00:00Z\",\n      \"latest_comment_create_time\": \"2026-04-08T14:00:00Z\",\n      \"comments\": [\n        {\n          \"comment_id\": \"fcf7bf67fe134d20a49913c7d1e7ea4f\",\n          \"thread_id\": \"a084b2c7874c42ce9fe5b976160a332d\",\n          \"root_block_id\": \"5a10e3c540dc4914ae7c846fa497f183\",\n          \"content_plain_text\": \"Should we push this to Q2?\",\n          \"attachments\": [\n            {\n              \"attachmentId\": \"xUt5QFe-Sq6_8YPigKt3Eg\",\n              \"name\": \"image.png\",\n              \"type\": \"image/png\",\n              \"size\": \"171153\"\n            }\n          ],\n          \"created_by\": \"Hj2sNkLdS5qPwU8rY_v7Xg\",\n          \"is_edited\": false,\n          \"create_time\": \"2026-04-01T10:00:00Z\",\n          \"modify_time\": \"2026-04-01T10:00:00Z\",\n          \"reactions\": [\n            {\n              \"reaction_id\": \"b7e3f91a2c4d48e6a1d5c8f0e2b4a6d8\",\n              \"comment_id\": \"fcf7bf67fe134d20a49913c7d1e7ea4f\",\n              \"reaction\": \"👍\",\n              \"created_by\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n              \"create_time\": \"2026-04-02T08:00:00Z\"\n            }\n          ]\n        },\n        {\n          \"comment_id\": \"d2a1c4e6f8b0374a9c5e7d1f3b6a8e0c\",\n          \"thread_id\": \"a084b2c7874c42ce9fe5b976160a332d\",\n          \"root_block_id\": \"5a10e3c540dc4914ae7c846fa497f183\",\n          \"parent_id\": \"fcf7bf67fe134d20a49913c7d1e7ea4f\",\n          \"content_plain_text\": \"No, let's keep the original timeline.\",\n          \"created_by\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n          \"is_edited\": false,\n          \"create_time\": \"2026-04-08T14:00:00Z\",\n          \"modify_time\": \"2026-04-08T14:00:00Z\"\n        }\n      ]\n    }\n  ],\n  \"page_reactions\": [\n    {\n      \"reaction_id\": \"e4f6a8c0d2b4917365e7f1a3c5d8b0e2\",\n      \"reaction\": \"🎉\",\n      \"created_by\": \"KxR4mWVeQdGt7Lp1Nf_08w\",\n      \"create_time\": \"2026-04-05T12:00:00Z\"\n    }\n  ],\n  \"users\": {\n    \"OnsTZFMpTUWD_YTo2Z_3Lg\": {\n      \"user_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n      \"display_name\": \"Alice Johnson\",\n      \"email\": \"alice.johnson@example.com\"\n    },\n    \"KxR4mWVeQdGt7Lp1Nf_08w\": {\n      \"user_id\": \"KxR4mWVeQdGt7Lp1Nf_08w\",\n      \"display_name\": \"Bob Smith\",\n      \"email\": \"bob.smith@example.com\"\n    },\n    \"Hj2sNkLdS5qPwU8rY_v7Xg\": {\n      \"user_id\": \"Hj2sNkLdS5qPwU8rY_v7Xg\",\n      \"display_name\": \"Charlie Brown\",\n      \"email\": \"charlie.brown@example.com\"\n    }\n  },\n  \"attachments\": [\n    {\n      \"attachment_id\": \"Tp7xKqW3RvNmYs9dF_c2Jw\",\n      \"name\": \"architecture-diagram.png\",\n      \"type\": \"image/png\",\n      \"size\": 245760\n    },\n    {\n      \"attachment_id\": \"Bm5nQeL8SxHkAr1gU_v4Zw\",\n      \"name\": \"requirements.pdf\",\n      \"type\": \"application/pdf\",\n      \"size\": 1048576\n    }\n  ]\n}\n```\n\n### JSON Example (MyNotes with Transcript)\n\nA `my_notes` archive triggered by a transcript change. It includes the `is_manual_notes` flag and the `transcript` object with conversation items and the speaker roster.\n\n```json\n{\n  \"file_id\": \"Nt4kPzQwRb6McD1sFgHy8A\",\n  \"version\": 5,\n  \"product\": \"my_notes\",\n  \"trigger_type\": \"transcript_change\",\n  \"is_manual_notes\": false,\n  \"archive_time\": \"2026-05-12T03:21:47Z\",\n  \"file_metadata\": {\n    \"title\": \"Weekly Sync - Engineering\",\n    \"owner_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n    \"owner_name\": \"Alice Johnson\",\n    \"owner_email\": \"alice.johnson@example.com\",\n    \"create_time\": \"2026-05-12T02:00:00Z\",\n    \"last_edit_time\": \"2026-05-12T03:00:00Z\",\n    \"is_deleted\": false\n  },\n  \"page_icon\": \"🗒️\",\n  \"operator\": {\n    \"user_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n    \"display_name\": \"Alice Johnson\",\n    \"email\": \"alice.johnson@example.com\"\n  },\n  \"markdown\": \"# Weekly Sync - Engineering\\n\\n## Summary\\n\\n- Reviewed sprint progress\\n- Agreed on release date\\n\",\n  \"transcript\": {\n    \"items\": [\n      {\n        \"text\": \"Good morning everyone, let's get started with the weekly sync.\",\n        \"start_time\": \"00:00:02\",\n        \"end_time\": \"00:00:06\",\n        \"user_id\": 101,\n        \"highlight_flag\": 0\n      },\n      {\n        \"text\": \"Sure. The payment service migration is on track for Friday.\",\n        \"start_time\": \"00:00:07\",\n        \"end_time\": \"00:00:11\",\n        \"user_id\": 102,\n        \"highlight_flag\": 1\n      },\n      {\n        \"text\": \"Great. Any blockers we should be aware of?\",\n        \"start_time\": \"00:00:12\",\n        \"end_time\": \"00:00:15\",\n        \"user_id\": 101,\n        \"highlight_flag\": 0\n      },\n      {\n        \"text\": \"Just waiting on the final QA sign-off, but we're confident.\",\n        \"start_time\": \"00:00:16\",\n        \"end_time\": \"00:00:20\",\n        \"user_id\": 103,\n        \"highlight_flag\": 0\n      },\n      {\n        \"text\": \"Perfect. Let's lock in Friday for the release then.\",\n        \"start_time\": \"00:00:21\",\n        \"end_time\": \"00:00:24\",\n        \"user_id\": 101,\n        \"highlight_flag\": 1\n      }\n    ],\n    \"speakers\": [\n      {\n        \"user_id\": 101,\n        \"zoom_user_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n        \"username\": \"alice.johnson@example.com\",\n        \"speaker_id\": \"spk_001\",\n        \"speaker_name\": \"Alice Johnson\",\n        \"speaker_zoom_user_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n        \"is_unknown\": false\n      },\n      {\n        \"user_id\": 102,\n        \"zoom_user_id\": \"KxR4mWVeQdGt7Lp1Nf_08w\",\n        \"username\": \"bob.smith@example.com\",\n        \"speaker_id\": \"spk_002\",\n        \"speaker_name\": \"Bob Smith\",\n        \"speaker_zoom_user_id\": \"KxR4mWVeQdGt7Lp1Nf_08w\",\n        \"is_unknown\": false\n      },\n      {\n        \"user_id\": 103,\n        \"zoom_user_id\": \"\",\n        \"username\": \"\",\n        \"speaker_id\": \"spk_003\",\n        \"speaker_name\": \"Guest Speaker\",\n        \"speaker_zoom_user_id\": \"\",\n        \"is_unknown\": true\n      }\n    ]\n  },\n  \"users\": {\n    \"OnsTZFMpTUWD_YTo2Z_3Lg\": {\n      \"user_id\": \"OnsTZFMpTUWD_YTo2Z_3Lg\",\n      \"display_name\": \"Alice Johnson\",\n      \"email\": \"alice.johnson@example.com\"\n    },\n    \"KxR4mWVeQdGt7Lp1Nf_08w\": {\n      \"user_id\": \"KxR4mWVeQdGt7Lp1Nf_08w\",\n      \"display_name\": \"Bob Smith\",\n      \"email\": \"bob.smith@example.com\"\n    }\n  }\n}\n```\n\n## Notes\n\n- All timestamp fields use **RFC 3339** string format (UTC).\n- The `users` map provides a lookup table for all `user_id` values referenced throughout the archive (in `operator`, `created_by`, `updated_by`, etc.).\n- The `markdown` field contains the complete document content at the time of archiving, exported in Markdown format.\n- The `attachments` at the top level are **document-level** attachments only. Comment-level attachments are nested within each comment's `attachments` field.\n- The `is_manual_notes` and `transcript` fields apply only to the `my_notes` product. For `docs` and `meeting_summary`, they are omitted.\n- `is_manual_notes` reflects how the MyNotes content in this version was produced: `true` means it was manually entered, while `false` means it was processed with AI enhancement.\n",
                            "example": "https://example.com/download/archive.json"
                          }
                        },
                        "description": "Each item is an archived file."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request. Invalid parameter. \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs_archiving:read:admin", "docs:read:archive:admin"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsContent:Read", "NotesContent:Read", "SmartMeetingSummaryMgt:Read"],
          "x-macro-scopes": ["docs_archiving:read:admin"],
          "x-granular-scopes": ["docs:read:archive:admin"]
        }
      }
    },
    "/docs/files/{fileId}/collaborators": {
      "get": {
        "tags": ["Collaborator"],
        "summary": "List collaborators of a file",
        "description": "List collaborators of a file. Only `doc` or `data table` files are supported.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_collaborator:read`,`docs_collaborator:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:list_file_collaborators`,`docs:read:list_file_collaborators:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "ListCollaborators",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The file ID in Docs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "_4oHCpleRgGumHa60amdKl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the collaborators of a file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "collaborators": {
                      "maxItems": 50,
                      "minItems": 0,
                      "type": "array",
                      "description": "A list of collaborators. Each collaborator item must contain exactly one of the following fields: `user_id`, `channel_id`, or `email`.",
                      "items": {
                        "required": [
                          "avatar_url",
                          "collaborator_id",
                          "collaborator_name",
                          "collaborator_type",
                          "role"
                        ],
                        "type": "object",
                        "properties": {
                          "collaborator_id": {
                            "type": "string",
                            "description": "The collaborator item ID, used as the `collaboratorId` when removing or modifying a collaborator.",
                            "example": "user:9aSWJV2rTyWwkIDWmPYsfg"
                          },
                          "collaborator_type": {
                            "type": "string",
                            "description": "The collaborator type.",
                            "example": "user",
                            "enum": ["user", "channel", "email"]
                          },
                          "role": {
                            "type": "string",
                            "description": "The collaborator role.",
                            "example": "viewer",
                            "enum": ["viewer", "commenter", "editor", "co-owner"]
                          },
                          "collaborator_name": {
                            "type": "string",
                            "description": "The collaborator display name.",
                            "example": "Jack"
                          },
                          "user_id": {
                            "type": "string",
                            "description": "The Zoom user ID. Available when `collaborator_type` = `user`.",
                            "example": "9aSWJV2rTyWwkIDWmPYsfg"
                          },
                          "channel_id": {
                            "type": "string",
                            "description": "The Zoom Team Chat channel ID. Available when `collaborator_type` = `channel`.",
                            "example": "utSBcPSTQTmiebe_if1rpg"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address. Available when `collaborator_type` = `email`.",
                            "example": "user@example.com"
                          },
                          "avatar_url": {
                            "type": "string",
                            "description": "The avatar URL.",
                            "example": "https://images.zoom.us/p/v2/c6ea193b21e21r4rdqw21wdc3b0170737fb3213e21e34/1f1wwe2c3-432e-4dfa-92ab-f732w1a385q1301-2v21"
                          }
                        },
                        "description": "The collaborator information."
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_collaborator:read",
              "docs_collaborator:read:admin",
              "docs:read:list_file_collaborators",
              "docs:read:list_file_collaborators:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Read"],
          "x-macro-scopes": ["docs_collaborator:read", "docs_collaborator:read:admin"],
          "x-granular-scopes": [
            "docs:read:list_file_collaborators",
            "docs:read:list_file_collaborators:admin"
          ]
        }
      },
      "post": {
        "tags": ["Collaborator"],
        "summary": "Add collaborators for a file",
        "description": "Share a file with newly added Zoom users or Zoom Team Chat channels. Only `doc` or `data table` files are supported.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_collaborator:write`,`docs_collaborator:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:write:collaborator`,`docs:write:collaborator:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "AddCollaborators",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of a file in Docs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "amgFY09ZSJOrgROOkWG77A"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["collaborators"],
                "type": "object",
                "properties": {
                  "collaborators": {
                    "maxItems": 50,
                    "minItems": 1,
                    "type": "array",
                    "description": "A list of collaborators to be added. Each collaborator item must contain exactly one of the following fields: `user_id`, `channel_id` and `email`.",
                    "items": {
                      "required": ["role"],
                      "type": "object",
                      "properties": {
                        "user_id": {
                          "type": "string",
                          "description": "Zoom user ID.",
                          "example": "9aSWJV2rTyWwkIDWmPYsfg"
                        },
                        "channel_id": {
                          "type": "string",
                          "description": "Zoom team chat channel ID.",
                          "example": "4b1826c3597b492e9b1f7a9bd59d3f8c"
                        },
                        "email": {
                          "type": "string",
                          "description": "Email address.",
                          "example": "user@example.com"
                        },
                        "role": {
                          "type": "string",
                          "description": "The collaborator role.",
                          "example": "viewer",
                          "enum": ["viewer", "commenter", "editor", "co-owner"]
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the collaborators successfully added to collaborator list of this file.",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["collaborators"],
                  "type": "object",
                  "properties": {
                    "collaborators": {
                      "type": "array",
                      "description": "Collaborators successfully added to collaborator list of this file. Each collaborator item must contain exactly one of the following fields: `user_id`, `channel_id`, or `email`.",
                      "items": {
                        "required": ["collaborator_id", "collaborator_type", "role"],
                        "type": "object",
                        "properties": {
                          "collaborator_id": {
                            "type": "string",
                            "description": "The collaborator item ID, used as the `collaboratorId` when removing or modifying a collaborator.",
                            "example": "user:9aSWJV2rTyWwkIDWmPYsfg"
                          },
                          "collaborator_type": {
                            "type": "string",
                            "description": "The collaborator type.",
                            "example": "user",
                            "enum": ["user", "channel", "email"]
                          },
                          "role": {
                            "type": "string",
                            "description": "The collaborator role.",
                            "example": "viewer",
                            "enum": ["viewer", "commenter", "editor", "co-owner"]
                          },
                          "user_id": {
                            "type": "string",
                            "description": "The Zoom user ID. Available when `collaborator_type` = `user`.",
                            "example": "9aSWJV2rTyWwkIDWmPYsfg"
                          },
                          "channel_id": {
                            "type": "string",
                            "description": "The Zoom Team Chat channel ID. Available when `collaborator_type` = `channel`.",
                            "example": "4b1826c3597b492e9b1f7a9bd59d3f8c"
                          },
                          "email": {
                            "type": "string",
                            "description": "The email address. Available when `collaborator_type` = `email`.",
                            "example": "user@example.com"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File not found. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_collaborator:write",
              "docs_collaborator:write:admin",
              "docs:write:collaborator",
              "docs:write:collaborator:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs_collaborator:write", "docs_collaborator:write:admin"],
          "x-granular-scopes": ["docs:write:collaborator", "docs:write:collaborator:admin"]
        }
      }
    },
    "/docs/files/{fileId}/collaborators/{collaboratorId}": {
      "delete": {
        "tags": ["Collaborator"],
        "summary": "Remove a collaborator from a file",
        "description": "Remove a collaborator from a file. Only `doc` or `data table` files are supported.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_collaborator:delete`,`docs_collaborator:delete:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:delete:collaborator`,`docs:delete:collaborator:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "RemoveACollaborator",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of a file in Docs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "amgFY09ZSJOrgROOkWG77A"
            }
          },
          {
            "name": "collaboratorId",
            "in": "path",
            "description": "The ID of a collaborator item.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user:YFhmhCi0SZ-THaGh8dYqfw"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Nothing to return."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File not found. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_collaborator:delete",
              "docs_collaborator:delete:admin",
              "docs:delete:collaborator",
              "docs:delete:collaborator:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs_collaborator:delete", "docs_collaborator:delete:admin"],
          "x-granular-scopes": ["docs:delete:collaborator", "docs:delete:collaborator:admin"]
        }
      },
      "patch": {
        "tags": ["Collaborator"],
        "summary": "Modify a collaborator’s role on a file",
        "description": "Modify a collaborator’s role on a file. Only `doc` or `data table` files are supported.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_collaborator:write`,`docs_collaborator:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:update:collaborator`,`docs:update:collaborator:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "ModifyCollaboratorRole",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of a file in Docs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "amgFY09ZSJOrgROOkWG77A"
            }
          },
          {
            "name": "collaboratorId",
            "in": "path",
            "description": "The ID of a collaborator item.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "user:9aSWJV2rTyWwkIDWmPYsfg"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["role"],
                "type": "object",
                "properties": {
                  "role": {
                    "type": "string",
                    "description": "The collaborator role.",
                    "example": "viewer",
                    "enum": ["viewer", "commenter", "editor", "co-owner"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Nothing to return."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File not found. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_collaborator:write",
              "docs_collaborator:write:admin",
              "docs:update:collaborator",
              "docs:update:collaborator:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs_collaborator:write", "docs_collaborator:write:admin"],
          "x-granular-scopes": ["docs:update:collaborator", "docs:update:collaborator:admin"]
        }
      }
    },
    "/docs/files/{fileId}/blocks": {
      "post": {
        "tags": ["Doc Content"],
        "summary": "Insert blocks into a document",
        "description": "Insert new blocks at a specific position in a document. Accepts XML-formatted block content and supports positioning above, below, or inside a specific parent block. Use the Get file content endpoint with the query parameter `format=xml` first to fetch the document structure and block IDs.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_content:write`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:write:content`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "Insertblocksintoadocument",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The document file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "p6zmDowpR_2h7isqK9zwBg"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["blocks"],
                "type": "object",
                "properties": {
                  "positioning": {
                    "type": "object",
                    "properties": {
                      "above_block_id": {
                        "type": "string",
                        "description": "Block ID to insert above (mutually exclusive with below)",
                        "example": "8d0ad8e130e14d44"
                      },
                      "below_block_id": {
                        "type": "string",
                        "description": "Block ID to insert below (mutually exclusive with above)",
                        "example": "8d0ad8e130e14d44"
                      },
                      "parent_block_id": {
                        "type": "string",
                        "description": "Parent block ID. Inserts at the end of this parent's children.",
                        "example": "a1b2c3d4e5f6"
                      }
                    },
                    "description": "Block positioning options. At most one of `above_block_id`, `below_block_id`, or `parent_block_id` should be specified. If none are specified, blocks are appended to the end of the document."
                  },
                  "blocks": {
                    "type": "string",
                    "description": "XML string containing block content. See the [Zoom Docs XML Format Specification](https://developers.zoom.us/docs/zoom-docs/doc-format-specification) for supported block types and syntax.",
                    "example": "<text>New content</text>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully inserted blocks."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2000` <br>\n Block not found. <br>\n"
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4000` <br>\n File not found. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs_content:write", "docs:write:content"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": ["docs_content:write"],
          "x-granular-scopes": ["docs:write:content"]
        }
      }
    },
    "/docs/files/{fileId}/blocks/replace_range": {
      "post": {
        "tags": ["Doc Content"],
        "summary": "Replace a range of blocks",
        "description": "Replace a contiguous range of sibling blocks with new blocks in a single atomic operation. All blocks between start and end (inclusive) are removed and replaced with the provided XML block content. Important: `start_block_id` and `end_block_id` must be direct children of the same parent block (siblings). If they are not siblings, the operation will fail. Use the Get file content endpoint to verify the document structure before calling this endpoint.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_content:update`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:update:content`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "Replacearangeofblocks",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The document file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "p6zmDowpR_2h7isqK9zwBg"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["blocks", "end_block_id", "start_block_id"],
                "type": "object",
                "properties": {
                  "blocks": {
                    "type": "string",
                    "description": "XML string containing block content. See the [Zoom Docs XML Format Specification](https://developers.zoom.us/docs/zoom-docs/doc-format-specification) for supported block types and syntax.",
                    "example": "<text>New content</text>"
                  },
                  "start_block_id": {
                    "type": "string",
                    "description": "Block ID of the first block in the range.",
                    "example": "a1b2c"
                  },
                  "end_block_id": {
                    "type": "string",
                    "description": "Block ID of the last block in the range.",
                    "example": "d4e5f"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Successfully replaced the specified block range with new blocks."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2000` <br>\n Block not found. <br>\n"
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4000` <br>\n File not found. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs_content:update", "docs:update:content"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": ["docs_content:update"],
          "x-granular-scopes": ["docs:update:content"]
        }
      }
    },
    "/docs/files/{fileId}/blocks/{blockId}": {
      "delete": {
        "tags": ["Doc Content"],
        "summary": "Delete a specific block",
        "description": "Deletes a block and all its content from the document.\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:delete:content`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "DeleteBlock",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The doc file ID containing the block to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "p6zmDowpR_2h7isqK9zwBg"
            }
          },
          {
            "name": "blockId",
            "in": "path",
            "description": "The unique identifier of the block to delete.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "8d0ad8e130e14d44adae4f78303fc6cc"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successfully deleted the block."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2000` <br>\n Block not found. <br>\n"
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4000` <br>\n File not found. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs:delete:content"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-granular-scopes": ["docs:delete:content"]
        }
      },
      "patch": {
        "tags": ["Doc Content"],
        "summary": "Update a specific block",
        "description": "Updates the content of an existing block using XML-formatted content. Keeps the existing block type and replaces the content. To change the block type, use ReplaceBlockRange.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_content:update`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:update:content`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "UpdateBlock",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The doc file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "p6zmDowpR_2h7isqK9zwBg"
            }
          },
          {
            "name": "blockId",
            "in": "path",
            "description": "The unique identifier of the block to update.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "8d0ad8e130e14d44adae4f78303fc6cc"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["block"],
                "type": "object",
                "properties": {
                  "block": {
                    "type": "string",
                    "description": "A single XML block string with the updated content. See the [Zoom Docs XML Format Specification](https://developers.zoom.us/docs/zoom-docs/doc-format-specification) for supported block types and syntax.",
                    "example": "<text>New content</text>"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Block updated successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `2000` <br>\n Block not found. <br>\n"
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `4000` <br>\n File not found. <br>\n"
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs_content:update", "docs:update:content"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": ["docs_content:update"],
          "x-granular-scopes": ["docs:update:content"]
        }
      }
    },
    "/docs/exports": {
      "post": {
        "tags": ["Export"],
        "summary": "Create a file export",
        "description": "Creates a export for specified file.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_export:write`,`docs_export:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:write:export`,`docs:write:export:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`\n\n**Not supported in Gov cluster** ",
        "operationId": "Createafileexport",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["export_format", "file_id"],
                "type": "object",
                "properties": {
                  "file_id": {
                    "type": "string",
                    "description": "The doc file ID.",
                    "example": "ADuV705lSXW4c6fBgQFarQ"
                  },
                  "export_format": {
                    "type": "string",
                    "description": "The target format for export.\n\nDifferent file types support different export formats:\n\n- `doc` supports export to `docx`, `markdown` or `pdf`\n- `data_table` supports export to `csv`",
                    "example": "docx",
                    "enum": ["docx", "markdown", "pdf", "csv"]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A Docs file is being converted into expected format.",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["export_id"],
                  "type": "object",
                  "properties": {
                    "export_id": {
                      "type": "string",
                      "description": "The unique ID for your export. Use this ID to check the export status via the Get file export status endpoint (GET /docs/exports/{exportId}/status).",
                      "example": "ccbb4d8f72774741af8b8141f92e6d83"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_export:write",
              "docs_export:write:admin",
              "docs:write:export",
              "docs:write:export:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsContent:Read"],
          "x-macro-scopes": ["docs_export:write", "docs_export:write:admin"],
          "x-granular-scopes": ["docs:write:export", "docs:write:export:admin"]
        }
      }
    },
    "/docs/exports/{exportId}/status": {
      "get": {
        "tags": ["Export"],
        "summary": "Get file export status",
        "description": "Use this API to query the status of a file export. \n\nBefore using this API, confirm that you have invoked the API Create a file export endpoint and obtained the `export_id`.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_export:read`,`docs_export:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:export`,`docs:read:export:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "Getfileexportstatus",
        "parameters": [
          {
            "name": "exportId",
            "in": "path",
            "description": "The unique ID for your export.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ccbb4d8f72774741af8b8141f92e6d83"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the docs file export result.",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["status"],
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "description": "The status of the file export.\n\nEnum:\n- `processing` - The Docs file is being converted.\n- `succeeded` - The Docs file has been converted successfully.\n- `failed` - The Docs file has failed to convert.",
                      "example": "processing",
                      "enum": ["processing", "failed", "succeeded"]
                    },
                    "download_link": {
                      "type": "string",
                      "description": "The download link for the converted file. This field will be returned when the value of status is `succeeded`.",
                      "example": "https://file.zoom.us/file/xxxx?signature=xxxxx&token=xxxxx"
                    },
                    "expires_at": {
                      "type": "string",
                      "description": "The expiration date of the `download_link` URL; after this time, the `download_link` will become invalid.\n\nThis field will be returned when the value of status is `succeeded`.",
                      "example": "2025-12-11T08:51:54.887212742Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `5150` <br>\n Export file size limit exceeded. <br>\n"
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  \n\n **Error Code:** `5003` <br>\n The exportId not exists or expired. <br>\n"
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_export:read",
              "docs_export:read:admin",
              "docs:read:export",
              "docs:read:export:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsContent:Read"],
          "x-macro-scopes": ["docs_export:read", "docs_export:read:admin"],
          "x-granular-scopes": ["docs:read:export", "docs:read:export:admin"]
        }
      }
    },
    "/docs/files/{fileId}/content": {
      "get": {
        "tags": ["Export"],
        "summary": "Get file content",
        "description": "Retrieves the file name and full file content in Markdown format.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_export:read`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:export`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `HEAVY`\n\n**Not supported in Gov cluster** ",
        "operationId": "Getfilecontent",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The unique identifier of the document file.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ADuV705lSXW4c6fBgQFarQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Retrieves the file name and full file content in Markdown format.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_name": {
                      "type": "string",
                      "description": "The name of the document file.",
                      "example": "Q3 Plan"
                    },
                    "file_content": {
                      "type": "string",
                      "description": "The document file content in Markdown format.",
                      "example": "## Product Development\n\n- Complete beta testing for mobile app by July 15\n- Implement AI-powered recommendation engine"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n **Error Code:** `5150` <br>\n Export file size limit exceeded. <br>\n"
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File not found or deleted. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs_export:read", "docs:read:export"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": [],
          "x-macro-scopes": ["docs_export:read"],
          "x-granular-scopes": ["docs:read:export"]
        }
      }
    },
    "/docs/files": {
      "post": {
        "tags": ["File Management"],
        "summary": "Create a new file",
        "description": "Creates a new file for a user.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:write`,`docs:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:write:file`,`docs:write:file:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "CreateDoc",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "The file name.",
                    "example": "Q3 Plan",
                    "default": "Untitled"
                  },
                  "parent_id": {
                    "type": "string",
                    "description": "The ID of the parent file. The newly created file will become a child of this parent. If this parameter is omitted, the file will be placed under \"My Docs.\" Use \"root\" to represent the top-level folder of the current user. Folders can only be created under \"My Docs,\" a shared folder, or another folder.",
                    "example": "fIdgryoPSZ-Jm34Ag-OX7A"
                  },
                  "file_type": {
                    "type": "string",
                    "description": "The type of a file.",
                    "example": "doc",
                    "default": "doc",
                    "enum": ["doc", "folder", "data_table"]
                  },
                  "user_id": {
                    "type": "string",
                    "description": "When invoked with the `admin` scope, this operation runs on behalf of the specified user. Permissions are validated against that user. This parameter is required with the `admin` scope and has no effect otherwise.",
                    "example": "9BGgfjrQTayGWw_422j1Bw"
                  }
                },
                "description": "Create a new file request body."
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Returns the ID of the created file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "file_id": {
                      "type": "string",
                      "description": "The document file ID.",
                      "example": "ADuV705lSXW4c6fBgQFarQ"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  Invalid request parameters provided. \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission required to create files under this parent directory. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File not found. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs:write",
              "docs:write:admin",
              "docs:write:file",
              "docs:write:file:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs:write", "docs:write:admin"],
          "x-granular-scopes": ["docs:write:file", "docs:write:file:admin"]
        }
      }
    },
    "/docs/files/{fileId}": {
      "get": {
        "tags": ["File Management"],
        "summary": "Get metadata of a file",
        "description": "Get metadata of a file.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read`,`docs:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:file`,`docs:read:file:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "QueryFileMetadata",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The doc file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ADuV705lSXW4c6fBgQFarQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the basic metadata of this file.",
            "content": {
              "application/json": {
                "schema": {
                  "required": [
                    "created_time",
                    "file_id",
                    "file_link",
                    "file_name",
                    "file_type",
                    "modified_time"
                  ],
                  "type": "object",
                  "properties": {
                    "file_id": {
                      "type": "string",
                      "description": "The doc file ID.",
                      "example": "ADuV705lSXW4c6fBgQFarQ"
                    },
                    "file_name": {
                      "type": "string",
                      "description": "The doc file name.",
                      "example": "Q3 Plan"
                    },
                    "file_type": {
                      "type": "string",
                      "description": "The type of a file",
                      "example": "doc",
                      "default": "doc",
                      "enum": ["doc", "folder", "data_table"]
                    },
                    "file_link": {
                      "type": "string",
                      "description": "The URL link of the file.",
                      "example": "https://docs.zoom.us/doc/ADuV705lSXW4c6fBgQFarQ"
                    },
                    "created_time": {
                      "type": "string",
                      "description": "The time when the file created.",
                      "example": "2025-06-30T09:47:40.249Z"
                    },
                    "modified_time": {
                      "type": "string",
                      "description": "The time when the file last modified.",
                      "example": "2025-06-30T09:47:40.249Z"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File Not Found/Deleted. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs:read",
              "docs:read:admin",
              "docs:read:file",
              "docs:read:file:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Read"],
          "x-macro-scopes": ["docs:read", "docs:read:admin"],
          "x-granular-scopes": ["docs:read:file", "docs:read:file:admin"]
        }
      },
      "delete": {
        "tags": ["File Management"],
        "summary": "Delete a file",
        "description": "Delete a file.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:delete`,`docs:delete:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:delete:file`,`docs:delete:file:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "DeleteFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The doc file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ADuV705lSXW4c6fBgQFarQ"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "**HTTP Status Code**: `204`   \n \nFile deleted successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File Not Found/Deleted. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs:delete",
              "docs:delete:admin",
              "docs:delete:file",
              "docs:delete:file:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs:delete", "docs:delete:admin"],
          "x-granular-scopes": ["docs:delete:file", "docs:delete:file:admin"]
        }
      },
      "patch": {
        "tags": ["File Management"],
        "summary": "Modify metadata of a file",
        "description": "Modify metadata of a file.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:write`,`docs:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:update:file`,`docs:update:file:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "ModifyMetadata",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The doc file ID.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "ADuV705lSXW4c6fBgQFarQ"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "file_name": {
                    "type": "string",
                    "description": "File title name.",
                    "example": "Q3 plan"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "**HTTP Status Code**: `204`   \n \nModify metadata successfully."
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  File Not Found/Deleted. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs:write",
              "docs:write:admin",
              "docs:update:file",
              "docs:update:file:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs:write", "docs:write:admin"],
          "x-granular-scopes": ["docs:update:file", "docs:update:file:admin"]
        }
      }
    },
    "/docs/files/{fileId}/children": {
      "get": {
        "tags": ["File Management"],
        "summary": "List all children of a file",
        "description": "List all children of a file.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read`,`docs:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:list_children`,`docs:read:list_children:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`",
        "operationId": "ListAllChildren",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The fileId of a file. When querying children of 'My docs', `fileId` should be `root`.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "61kkJE-rR52UsywN25E0hQ"
            }
          },
          {
            "name": "next_page_token",
            "in": "query",
            "description": "The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
            "required": false,
            "schema": {
              "type": "string",
              "example": "eyJ0aW1lQ3Vyc29yIjoiMjAyNS0wNC0yMVQwOTo0NTo1OC45NTJaIiwiaWRDdXJzb3IiOiJzemFsMkpmTlFteTExY1JwdkYxRWhBIn0="
            }
          },
          {
            "name": "page_size",
            "in": "query",
            "description": "The number of shared folders to query. The maximum size is 50.",
            "required": false,
            "schema": {
              "maximum": 50,
              "minimum": 1,
              "type": "integer",
              "example": 10,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns all children files.",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["files", "next_page_token"],
                  "type": "object",
                  "properties": {
                    "files": {
                      "maxItems": 50,
                      "type": "array",
                      "description": "children list",
                      "items": {
                        "required": [
                          "created_time",
                          "file_id",
                          "file_link",
                          "file_name",
                          "file_type",
                          "modified_time"
                        ],
                        "type": "object",
                        "properties": {
                          "file_id": {
                            "type": "string",
                            "description": "The ID of a file.",
                            "example": "61kkJE-rR52UsywN25E0hQ"
                          },
                          "file_name": {
                            "type": "string",
                            "description": "The name of a file.",
                            "example": "Q3 plan"
                          },
                          "file_type": {
                            "type": "string",
                            "description": "The type of a file",
                            "example": "doc",
                            "default": "doc",
                            "enum": ["doc", "folder", "data_table"]
                          },
                          "file_link": {
                            "type": "string",
                            "description": "The access link of a file.",
                            "example": "https://docs.zoom.us/doc/61kkJE-rR52UsywN25E0hQ"
                          },
                          "created_time": {
                            "type": "string",
                            "description": "The time when the file created.",
                            "example": "2025-06-30T09:47:40.249Z"
                          },
                          "modified_time": {
                            "type": "string",
                            "description": "The time when the file last modified.",
                            "example": "2025-06-30T09:47:40.249Z"
                          }
                        },
                        "description": "child item"
                      }
                    },
                    "next_page_token": {
                      "type": "string",
                      "description": "The next page token paginates through a large set of results. A next page token returns whenever the set of available results exceeds the current page size. The expiration period for this token is 15 minutes.",
                      "example": "eyJ0aW1lQ3Vyc29yIjoiMjAyNS0wNC0yMVQwOTo0NTo1OC45NTJaIiwiaWRDdXJzb3IiOiJzemFsMkpmTlFteTExY1JwdkYxRWhBIn0="
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission Denied. \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  Parent not found. \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs:read",
              "docs:read:admin",
              "docs:read:list_children",
              "docs:read:list_children:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Read"],
          "x-macro-scopes": ["docs:read", "docs:read:admin"],
          "x-granular-scopes": ["docs:read:list_children", "docs:read:list_children:admin"]
        }
      }
    },
    "/docs/files/{fileId}/owner": {
      "put": {
        "tags": ["File Management"],
        "summary": "Transfer ownership of a file",
        "description": "Transfer a file’s ownership to another user. \nOnly `doc` or `data table` files are supported. \nOnly the file `owner` has permission to perform an ownership transfer.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs_file_owner:write`,`docs_file_owner:write:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:update:file_owner`,`docs:update:file_owner:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `MEDIUM`\n\n**Not supported in Gov cluster** ",
        "operationId": "TransferOwnershipOfAFile",
        "parameters": [
          {
            "name": "fileId",
            "in": "path",
            "description": "The ID of a file in docs.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "_4oHCpleRgGumHa60amdKl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "required": ["user_id"],
                "type": "object",
                "properties": {
                  "user_id": {
                    "type": "string",
                    "description": "Zoom user ID of the new owner.",
                    "example": "9aSWJV2rTyWwkIDWmPYsfg"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Nothing to return."
          },
          "403": {
            "description": "**HTTP Status Code:** `403` <br>\n Forbidden  Permission denied \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": [
              "docs_file_owner:write",
              "docs_file_owner:write:admin",
              "docs:update:file_owner",
              "docs:update:file_owner:admin"
            ],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Edit"],
          "x-macro-scopes": ["docs_file_owner:write", "docs_file_owner:write:admin"],
          "x-granular-scopes": ["docs:update:file_owner", "docs:update:file_owner:admin"]
        }
      }
    },
    "/docs/users/{userId}/root": {
      "get": {
        "tags": ["File Management"],
        "summary": "Get user My docs info",
        "description": "Get the specified user's My docs info. My docs is the root of a user's documents.\n\n**Example**:\n\nWhen an admin needs to list all children of another user's My docs ([/docs/files/{fileId}/children](https://s.zoom.us/u/bPFf2TRxP)), this API should be called to get the target user's My docs ID as `fileId` in path.\n\n**[Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:admin`\n\n**[Granular Scopes](https://developers.zoom.us/docs/integrations/oauth-scopes-overview/):** `docs:read:file:admin`\n\n**[Rate Limit Label](https://marketplace.zoom.us/docs/api-reference/rate-limits#rate-limits):** `LIGHT`\n\n**Not supported in Gov cluster** ",
        "operationId": "GetUserMyDocsID",
        "parameters": [
          {
            "name": "userId",
            "in": "path",
            "description": "The ID of the user you want the root directory ID of.",
            "required": true,
            "schema": {
              "type": "string",
              "example": "aCdqwwghR16QF4dDe1Ex_A"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns user My Docs info.",
            "content": {
              "application/json": {
                "schema": {
                  "required": ["root_id"],
                  "type": "object",
                  "properties": {
                    "root_id": {
                      "type": "string",
                      "description": "User My Docs ID.",
                      "example": "dAdqGeghRh6QF4dDe1Ex_A"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "**HTTP Status Code:** `400` <br>\n Bad Request  \n\n "
          },
          "404": {
            "description": "**HTTP Status Code:** `404` <br>\n Not Found  user id not found \n\n "
          },
          "429": {
            "description": "**HTTP Status Code:** `429` <br>\n Too Many Requests. For more information, see [rate limits](https://developers.zoom.us/docs/api/rate-limits/). \n\n "
          }
        },
        "security": [
          {
            "openapi_oauth": ["docs:read:admin", "docs:read:file:admin"],
            "openapi_authorization": []
          }
        ],
        "x-extensions": {
          "x-permissions": ["DocsMgt:Read"],
          "x-macro-scopes": ["docs:read:admin"],
          "x-granular-scopes": ["docs:read:file:admin"]
        }
      }
    },
    "/docs/file_uploads": {
      "post": {
        "tags": ["File Uploads"],
        "summary": "Create file upload for docs import or attachments",
[...]
